#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    background: $black;
    flex: 1;
}

.quaver-container {
    justify-content: center !important;
    position: relative;
}

.quaver-nav {
    background: $black;
    justify-content: center;
}

.quaver-menu-position {
    position: absolute;
    right: 0;
}

h2 {
    font-size: 18px;
    color: $white;
}
